* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


/* CONTAINER ONE */

.one {
    text-align: center;
    background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-masthead.jpg);
    padding: 16rem 0;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.one h1 {
    color: #212529;
    font-size: 88px;
}

.one h3 {
    color: #212529;
    font-size: 28px;
    margin-bottom: 60px;
}

.one a {
    background-color: #1d809f;
    padding: 20px 40px;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    font-weight: bold;
    transition: .5s;
}

.one a:hover {
    background-color: #19596d;
}


/* CONTAINER TWO */

.two {
    color: #212529;
    text-align: center;
    padding: 5rem 0;
}

.two h2 {
    color: #212529;
    font-size: 2rem;
}

.two p {
    color: #212529;
    font-size: 20px;
    margin-bottom: 40px;
}

.two p a {
    text-decoration: underline;
    color: #1d809f;
}

.two .a-btn {
    background-color: #212529;
    padding: 20px 40px;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    font-weight: bold;
    transition: .5s;
}

.two h2 {
    color: #212529;
}


/* CONTAINER THREE */

.three {
    color: #212529;
    padding: 15rem 0;
    text-align: center;
    background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-callout.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.three h2 {
    color: #212529;
    font-size: 56px;
    margin-bottom: 40px;
}

.three a {
    background-color: #1d809f;
    padding: 20px 40px;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    font-weight: bold;
    transition: .5s;
}

.three a:hover {
    background-color: #19596d;
}


/* CONTAINER FOUR */

.four {
    color: #fff;
    background-color: #1d809f;
    text-align: center;
    padding: 7rem 0;
}

.four h2 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 40px;
}

.four .click {
    background-color: #fff;
    color: #212529;
    margin-right: 8px;
    padding: 20px 40px;
    color: #212529;
    font-size: 1rem;
    border-radius: 5px;
    font-weight: bold;
}

.four .look {
    color: #fff;
    background-color: #212529;
    margin-left: 8px;
    padding: 20px 40px;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    font-weight: bold;
}


/* MAP */

.map {
    margin-bottom: 33px;
}


/* FOOTER */

.footer {
    text-align: center;
    font-size: small;
    color: gray;
}